<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type='text.css' href='{{url_for('static', filename='static/stylesheet.css') }}'>
  <title>Dojo Survey</title>
</head>
<body>
  <h4>Registration has been completed!</h4>
  <a href='/' class="btn btn-primary btn-lg">Back</a>
</body>
</html>
